  GNU nano 7.2                                                                                                                             .env                                                                                                                                       
# ── Crafty Controller ──────────────────────────────────────────────────────
BASE_URL=https://localhost:8443
CRAFTY_USER=<user>
CRAFTY_PASS=<crafty-pass>

# ── Neon / PostgreSQL ──────────────────────────────────────────────────────
DB_NAME=<db-name>
DB_USER=<db-user>
DB_PASSWORD=<db-password>
DB_HOST="<db-host>"
DB_PORT=<db-port>

# ── PlayIT.gg ──────────────────────────────────────────────────────────────
PLAYIT_EMAIL=<playit-email>
PLAYIT_PASSWORD=<playit-password>
PLAYIT_HEADLESS=false
PLAYIT_SUBSCRIPTION=premium            # premium | free

# You can only select a region for the premium network otherwise it will be chosen by playit
PLAYIT_REGION=Germany             # Seattle, Los Angeles, Denver, Dallas, Chicago, New York, Miami, Germany, United Kingdom, Sweden, Poland, Spain, Singapore, Japan, Australia, Sao Paulo, Chile, India

# ── Cloudflare ─────────────────────────────────────────────────────────────
CLOUDFLARE_API_TOKEN=<cloudflare-api-token>
CLOUDFLARE_ZONE_ID=<cloudflare-zone-id>
CLOUDFLARE_BASE_DOMAIN=<cloudflare-base-domain>

# ── Flask API ──────────────────────────────────────────────────────────────
API_KEY=<api-key>
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_DEBUG=false

# ── Logging ────────────────────────────────────────────────────────────────
LOG_LEVEL=INFO                        # DEBUG | INFO | WARNING | ERROR
#your directory could be different, check crafty config for "servers" dir and set it here
CRAFTY_SERVERS_DIR=/var/opt/minecraft/crafty/crafty-4/servers